/* جعل الفيديو ملء الشاشة */
.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: index -1;
}

/* النص فوق الفيديو */
.overlay-text {
    position: absolute;
    top:  10%;
    right:50%;
    height:40%;
    text-align: center;
    color: rgb(87, 246, 13);
    text-shadow: 0 0 15px black;
}

.overlay-text h1 {
    font-size: 60px;
    margin: 0;
}

.overlay-text p {
    font-size: 30px;
    margin-top: 10px;
}

/* قسم التواصل */
.contact {
    position: absolute;
    bottom: 20%;
    right: 50%;
    background: rgba(0,0,0,0.55);
    padding: 30px;
    border-radius: 50px;
    color: #e905ce;
}

.contact a {
    color: rgb(251, 210, 4);
    text-decoration:rgb(203, 32, 32);
}

.contact a:hover {
    text-decoration: underline;
}
.contact button{
    background-size: cover;
    color: #10130f;
    text-decoration: #ec14a4;

}
.contact button a{
    background-position: 60%;
    color: rgb(24, 9, 235);
    direction: rtl;
  
}
